.Guesser {
  display: flex;
  align-items: center;
  gap: 25px;

  &__poster {
    > img {
      border-radius: 5px 0 0 5px;
      width: 250px;
      height: 350;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &Buttons {
      display: flex;
      gap: 5px;
    }
  }
}
