@use "@/assets/variables/colorSchema.module.scss";

.GrayContainer {
  background-color: colorSchema.$bg-gray-container;
  padding: 30px;
  border-radius: 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cornerPlainTopLeft {
  border-top-left-radius: 0;
}

.cornerPlainTopRight {
  border-top-right-radius: 0;
}

.cornerPlainBottomLeft {
  border-bottom-left-radius: 0;
}

.cornerPlainBottomRight {
  border-bottom-right-radius: 0;
}
