@use "@/assets/variables/colorSchema.module.scss";

.Button {
  font-family: "Gidugu", sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:disabled {
    background-color: colorSchema.$border-color;
    cursor: default;
  }
}

.m {
  padding: 14px 18px;
  font-size: 28px;
  line-height: 20px;
}

.s {
  padding: 8px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Onest", sans-serif;
}

.ok {
  background-color: colorSchema.$green-color;
}

.alert {
  background-color: colorSchema.$red-color;
}

.top-left {
  border-top-left-radius: 0;
}

.top-right {
  border-top-right-radius: 0;
}

.bottom-left {
  border-bottom-left-radius: 0;
}

.bottom-right {
  border-bottom-right-radius: 0;
}
