.title {
  font-family: "Gidugu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  & > span {
    display: block;
    font-weight: 300;
  }

  &__firstLine {
    font-size: 90px;
    line-height: 40px;
  }

  &__secondLine {
    font-size: 107px;
    line-height: 50px;
  }
}
