@import "./assets/variables/colorSheme.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-text-color;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  background-color: $bg-app;
}
