@use "@/assets/variables/colorSchema.module.scss";
@use "./assets/functions/helpers.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: colorSchema.$primary-text-color;
  font-family: "Onest", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  background-color: colorSchema.$bg-app;
  padding: 30px helpers.toPercent(240) 40px helpers.toPercent(240);
}
